allow untrusted_app proc_zoneinfo:file { read open getattr };
allow untrusted_app proc:file { getattr };
get_prop(untrusted_app, aac_drc_prop)
allow untrusted_app aac_drc_prop:file { map };
get_prop(untrusted_app, ab_update_gki_prop)
allow untrusted_app ab_update_gki_prop:file { map };
get_prop(untrusted_app, adbd_prop)
allow untrusted_app zygote:unix_stream_socket { getopt };
get_prop(untrusted_app, qemu_hw_prop)
get_prop(untrusted_app, qemu_sf_lcd_density_prop)
allow untrusted_app window_service:service_manager { find };
allow untrusted_app input_device:dir { search };
allow untrusted_app sysfs_net:dir { read open search };
allow untrusted_app proc_max_map_count:file { read open write getattr setattr };
allow untrusted_app input_device:chr_file { getattr };
allow untrusted_app proc_asound:dir { search };
get_prop(untrusted_app, build_bootimage_prop)
allow untrusted_app metadata_file:dir { getattr };
allow untrusted_app sysfs:dir { read };
